.radioButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 36px;
    margin-left: 24px;
}

.radioButton {
    border: 1px solid #ccc;
    border-radius: 10px;
    max-height: 36px;
    padding-right: 12px;
}






