@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --primary: #E56217; 
  --secondary: #EB7633; 
  --nav: #FA965D; 
  --form: #FAC9AE;
  --background: #ffffff;
  --foreground: #000000;

  --primary-font: 'Karla', sans-serif;
  --secondary-font: 'Inria Sans', sans-serif;
}


html,
body {
  max-width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--secondary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--primary-font);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


